.container {
    position: relative;
}

.container input {
    padding: 1.5rem;
    border-radius: 10px;
    outline: none;
}

.container > label {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.container > input:focus + label,
.container > input:not(:placeholder-shown) + label {
    top: -1rem;
    left: 0.8rem;
}